body {

}

#map {
height: 100%;
}
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
background: #e93434;
color: #ffffff;
}
img.popup {
max-width: 100%;
max-height: 100%;
}
.square {
height: 75px;
width: 75px;
}
