<h1 id="mainHeading" class="text-center">Help</h1>
<p style="text-align: center">Welcome to Pintura, where you can post and view digital graffiti based on your current location!</p>
<hr>

<div class="container">

    <h2 id="viewing" class="strong post_left">Viewing Pinturas</h2><br>

    	<h3 class="strong post_left">List View</h3><br>
    		<p>In the list view, visible pinturas around your location will be displayed. The map button opens up a mini map of their posting location. Titles, descriptions, votes, and the artist behind the pinturas will also be shown.</p>
            <br>

    	<h3 class="strong post_left">Map View</h3><br>
    		<p>In the map view, you can see pins of pinturas on a map. Clicking on blue or yellow pins will allow you to view the pintura on that location as well as vote or comment. The gray pins aren't viewable because they are not visible in your current location. However, feel free to move closer to that pin if you want to figure out what the pintura is!</p>
            <br>
            <p><img src="images/pin.png">   These pinturas are visible at your location.</p>
            <p><img src="images/popular.png">   These pinturas are really popular and have a huge viewing radius.</p>
            <p><img src="images/unexplored.png">    These pinturas have a viewing radius that doesn't reach your location.</p>
            <br>

    	<h3 class="strong post_left">Voting/Commenting</h3><br>
    		<p>The voting buttons allow you to upvote pinturas that you like or downvote pinturas that you don't like. You can also view or add comments to pinturas with the comment button.</p>
            <br>

        <h3 class="strong post_left">Your Profile</h3><br>
            <p>The profile page shows all of the pinturas you've created. If you haven't created a pintura yet, <a href="/post">post one now!</a></p>
            <br>

    <hr>
    <h2 id="posting" class="strong post_left">Posting Pinturas</h2><br>

    	<h3 class="strong post_left">Viewing Radius</h3><br>
    		<p>You will only be able to post pinturas at your current location with a default viewing radius of 200 meters. As your post gains more upvotes, its viewing radius increases. (But if your post gets too many downvotes, it will disappear!) After ____ hours, your post will automatically be deleted, but a copy will be saved in your profile.</p>
            <br>

    	<h3 class="strong post_left">Making Pinturas</h3><br>
    		<p>Use the marker tool to draw pictures on the canvas. You can change its size or color, using the buttons and color picker. If you made a mistake, use the eraser tool to erase parts of your sketch, or use the clear button to start over. If you want to draw on an image, use the uploading function to take a photo or choose from already existing files in your device.</p>
            <br>

    	<h3 class="strong post_left">Posting Pinturas</h3><br>
    		<p>After you've finished making your pintura, you're ready to post it! Type in an optional title and description to go along with your pintura. If you want to post this pintura anonymously, make sure the anonymous feature is turned on. When you're all set, click on the post button. A copy of this pintura will also be saved on your profile.</p>
            <br>

</div>

<hr>

<p style="text-align: center">If you have any questions, comments, or concerns, please <a href="https://github.com/ConnieGuan/YellowCow/issues">leave us feedback</a> on our github page!
<br>
<br>
© 2017 YellowCow</p>