
<h1>Help</h1>
<p>Welcome to Pintura, where you can post and view digital graffiti based on your current location!</p>

<div class="container">

    <h2>Viewing Graffiti</h2>

    	<h3>List View</h3><br>
    		<p>In the list view, visible graffiti around your location will be displayed along with a mini map of their posting location. Titles, descriptions, votes, and the artist behind the graffiti will also be shown.</p><br>

    	<h3>Map View</h3><br>
    		<p>In the map view, you can see pins of graffiti on a map. Clicking on ___ pins will allow you to view the graffiti on that location as well as vote or comment. The ___ pins are unclickable because they are not visible in your current location. However, feel free to move closer to that pin if you want to figure out what the graffiti is!</p><br>

    	<h3>Voting/Commenting</h3><br>
    		<p>The voting buttons allow you to upvote graffiti that you like or downvote graffiti that you don't like. You can also view or add comments to graffiti with the comment button.</p><br>

    <h2>Posting Graffiti</h2><br>

    	<h3>Viewing Radius</h3><br>
    		<p>You will only be able to post graffiti at your current location with a default viewing radius of xx meters. As your post gains more upvotes, its viewing radius increases. (But if your post gets too many downvotes, it will disappear!) After xx hours, your post will automatically be deleted, but a copy will be saved in your profile.</p><br>

    	<h3>Making Graffiti</h3><br>
    		<p>Use the marker tool to draw pictures on the canvas. You can change its size or color, using the buttons at the top. If you made a mistake, use the eraser tool to erase parts of your sketch, or use the clear button to start over. If you want to draw on an image, use the uploading function to take a photo or choose from already existing files in your device. Once you're done, you can download your graffiti to save on your device.</p><br>

    	<h3>Posting Graffiti</h3><br>
    		<p>After you've finished making your graffiti, you're ready to post it! Type in an optional title and description to go along with your graffiti. If you want to post this graffiti anonymously, make sure the anonymous feature is turned on. When you're all set, click on the post button. A copy of this graffiti will also be saved on your profile.</p><br>

</div>

<h1>FAQs</h1>

<p>Coming soon! (If you have any questions, comments, or concerns, please leave us feedback on our github page at github.com/ConnieGuan/YellowCow)</p>