
<h1>This is Help Page</h1>
<div class="container">
    <list>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deserunt laborum magni recusandae sapiente! Alias beatae culpa cum dolore ipsam labore laboriosam molestias, necessitatibus nostrum placeat quasi quibusdam quidem reprehenderit!</p>
    </list>
</div>