<h1>This is Home Page</h1>
<p>TODO: add sample format of list of nearby graffiti</p>

<a href="/post"><button class="btn btn-primary"> Post Graffiti </button></a>
<a href="/map"><button class="btn">Go to Map</button></a>
