<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
      <!-- Bootstrap with Optional theme -->
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/bower_components/hover/css/hover-min.css">

      <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/home">Pintura</a>
          </div>
          <ul class="nav navbar-default navbar-fixed-top">
            <div class="container">

              <li><a href="/home">Home</a></li>
              <li><a href="/map">Map</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/help">Help</a></li>
            </div>
          </ul>
      </div>
  </nav>
    {{{body}}}
  </body>
</html>
