<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

      <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
