<!--TODO:
1. Remove layout from login page so its separate from the rest of the page
2. Account validation
-->
<h1>This is Login Screen</h1>
<form action="/home">
    <div class="container">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" name="uname">

        <label for="password">Password</label>
        <input type="password" name="psw" id="">

        <button type="submit" class="btn btn-primary">Login</button>
        <input type="checkbox" checked="checked"> Remember me
    </div>
</form>
