<html>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Bootstrap with Optional theme -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/signup.css">



    <!--external API javascript library-->
    <script src="https://use.fontawesome.com/91fb7f42a2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--client side utility scripts-->
    <script src="/javascripts/util.js"></script>

    <style>
        /*override style from login.css*/
        input.form-control {
            z-index: 1;
        }
    </style>
</head>

<body>
<div id="login-bg"></div>
<div class="container">
    <div class="omb_login">
        <img src="images/logo-dark.png" alt="Pintura" height="100px">
        <h3 class="omb_authTitle">Login or <a onclick="document.getElementById('id01').style.display='block'">Sign up</a></h3>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                {{# if success }}
                    <section class="alert-success">
                        <h2>Success Validation!</h2>
                    </section>
                {{ else }}
                    {{# if errors }}
                        {{# each errors }}
                            <li style="color: red;">{{ this.msg }}</li>
                        {{/each}}
                    {{/if}}
                {{/if}}
                <form class="omb_loginForm" action="/login/submit" autocomplete="off" method="POST">
                    <div class="input-group" id="user-input">
                        <input type="text" class="form-control" name="username" placeholder="username" style="z-index: 1;" required>
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group" id="pass-input">
                        <input  type="password" class="form-control" name="password" placeholder="Password" style="z-index: 1;" required>
                    </div>
                    <!--<span class="help-block">Password error</span>-->

                    <button id="login-btn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <a id="signup-btn" class="btn btn-lg btn-success btn-block" onclick="document.getElementById('id01').style.display='block'">Sign Up</a>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">Remember Me
                </label>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                    <a onclick="document.getElementById('id02').style.display='block'">Forgot password?</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Sign up modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form id="login-signup-form" class="modal-content" action="/login/signup" method="POST">
            <div class="container box-signup">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <label for="pswrepeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="pswrepeat" required>

                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                <input type="checkbox" checked="checked"> I Agree

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Forget password modal -->
    <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
        <form id="forget-password-form" class="modal-content" action="/login/forgetpassword" method="POST">
            <div class="container box-signup">
                <label for="username"><b>Username or Email</b></label>
                <input type="text" placeholder="Username or Email" name="usernameemail" required>

                <!-- START CAPTCHA (http://allwebco-templates.com/support/script-simple-captcha.htm) -->
                <br>
                <div class="capbox">
                    <div id="CaptchaDiv"></div>
                    <div class="capbox-inner">
                        Type the above number:<br>
                        <input type="hidden" id="txtCaptcha">
                        <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>
                    </div>
                </div>
                <br><br>
                <!-- END CAPTCHA -->

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Submit</button>
                </div>
            </div>
        </form>
    </div>


</div>

<script src="/javascripts/login.js"></script>
</body>
</html>

