<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="map" style="height: 500px; width: auto;"></div>


<script src="javascripts/map.js"></script>
<script>
    var data = {{{ json data }}}

    var features = data.features;

    var ucsd_coor = [32.88044, -117.23758];
    var map = L.map('map', {
        center: ucsd_coor,
        doubleClickZoom: false,
        zoom: 15
    }).locate({setView: true, maxZoom: 16});

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng).addTo(map).bindPopup("You").openPopup();

        $("#lat").val(e.latlng.lat);
        $("#lng").val(e.latlng.lng);

        L.circle(e.latlng, radius).addTo(map);
    }

    var btnVote = $('<button type="button" class="btn btn-primary btn-lg"/></button>').text('Vote');
    var customOptions = {
        maxWidth: "300",
        className: "custom"
    };

    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.popupContent) {
            imgPop = $('<img class="popup" src="' + feature.link + '" />');
            var customPopup = $("<div>").addClass('container modal-dialog')
                    .append( "<h1>" + feature.properties.name + "</h1>" )
                    .append( $("h3").html( feature.properties.popupContent + "</br>") )
                    .append( imgPop )
                    .append(btnVote);
//            layer.bindPopup(feature.properties.popupContent);
            layer.bindPopup( customPopup.prop('outerHTML'), customOptions);
        }
    }

    map.on('locationfound', onLocationFound);
    map.locate({setView: true, maxZoom: 16});


//    add all graffiti to map
    for(let item in features) {
        console.log(features[item].geo);
        L.geoJSON(features[item].geo, {
            onEachFeature: onEachFeature
        }).addTo(map);

    }

//    useful to add new sample coordinate data later
     map.on('click', function(e) {
         console.log(e.latlng.lng + ',' + e.latlng.lat);
     });
</script>
<!--<script src="javascripts/map.js"> </script>-->
