<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="map" style="height: 500px; width: auto;">
</div>

<canvas id="myCanvas" width="490" height="220" style="border:1px solid #000000";>
</canvas>

<script src="javascripts/map.js"> </script>
<script src="javascripts/canvas.js"> </script>

<script>
</script>

