<script type="text/javascript" src="/bower_components/bootbox.js/bootbox.js"></script>
<head>
    <link rel="stylesheet" href="stylesheets/map.css">
</head>

<body>
    <div id="map"></div>
</body>

<script src="javascripts/map.js"></script>
