<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/colorpicker.js"></script>
</head>

<body>
<h1 id="postHeading" class="text-center">Post A Pintura</h1>
<form id="post_graffiti_form" method="post" role="form" action="/post/submit">
    <div class="container" id="post-container">
        <!-- Canvas -->
        <div id="canvas-container">
          <div class='tools'>
            <!-- Marker -->
            <a href="#myCanvas" class="btn btn-info" data-tool="marker"><span class="glyphicon glyphicon-pencil"></span> </a>
            <!-- Eraser -->
            <a href="#myCanvas" class="btn btn-info" data-tool="eraser"><span class="glyphicon glyphicon-erase"></span></a>
            <a href="#myCanvas" class="btn btn-info" id="clear-btn" data-clear="clear">Clear</a>
            <a href="#myCanvas" class="btn btn-info" data-upload="jpg"><span class="glyphicon glyphicon-camera"></span></a> 
            <br />
            <div id="tool-size">
            <a href="#myCanvas" class="btn btn-info" data-size="3"> Small </a>
            <a href="#myCanvas" class="btn btn-info" data-size="10"> Medium </a>
            <a href="#myCanvas" class="btn btn-info" data-size="30"> Large </a>
            </div>

          </div>
        <div style="width: 0; height: 0; overflow: hidden;"> 
            <input type="file" id="PhotoPicker">
        </div>

        <!-- Leave styling in canvas. Only way it works -->
        <div id="canvas-slider">
                <div id="slider-container">
                    <a href="#myCanvas" id="box" data-color="#ff0000" ></a>
                <div id="slider"></div>
            </div>
            <!-- <canvas id="myCanvas" width="320" height="320"> </canvas> -->
            <canvas id="myCanvas"> </canvas>
        </div>

        <!-- End canvas -->
        <!-- <div class="post_form_info form-group panel panel-default container" id="form-container"> -->
        <div class="form-group panel-default container" id="form-container">
            <div class="row">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Post Title">
            </div>
            <div class="row">
                <label for="description"> Description </label>
                <textarea class="comment-box form-control" rows="4" name="description" id="description" placeholder="Say something about this graffiti"></textarea>
            </div>
        </div>

        <div id="map" style="height: 50vh;width: 100%; margin-top: 0"></div> <!--DO NOT UNCOMMENT THIS, this is for map view-->

        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Post">

    </div>
</form>

</body>
<script src="javascripts/exif.js" type="text/javascript"></script>
 <script src="https://rawgit.com/maciej-gurban/responsive-bootstrap-toolkit/master/dist/bootstrap-toolkit.min.js"></script>
<script type="text/javascript">
    ColorPicker(
        document.getElementById('slider'),

        function(hex, hsv, rgb) {
            console.log(hsv.h, hsv.s, hsv.v);         // [0-359], [0-1], [0-1]
            console.log(rgb.r, rgb.g, rgb.b);         // [0-255], [0-255], [0-255]
            $('#box').css('background-color', hex);
            $('#box').attr("data-color", hex).trigger('click');
        }
    );
</script>
<script type="text/javascript">
    $(function() 
    {
        $('#myCanvas').sketch();
    });
</script>
<script src="javascripts/post_graffiti.js"></script>
<script src="javascripts/new-canvas.js"> </script>