
<h1>Post Graffiti</h1>
<form id="post_graffiti_form" method="post" role="form" action="/post/submit">
    <!--TODO: look mindlee how to add new destress, follow same template-->
    <div class="container">
        <div id = "post-container">
        <p style="text-align: center; font-weight: bold">Draw your graffiti below</p>

        <!-- Canvas -->
                  <div class='tools'>
            <a href='#colors_sketch' data-download='png' style='float: right; width: 100px;'>Download</a>
          </div>
        <canvas id="myCanvas" width="800" height="500" style="border:1px solid #000000";></canvas>
        <script type="text/javascript">
          $(function() {
                $.each(['#FF0000', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function() {
      $('#post-container .tools').append("<a href='#myCanvas' data-color='" + this + "' style='width: 10px; background: " + this + ";'></a> ");
    });
    $.each([3, 5, 10, 15], function() {
      $('#post-container .tools').append("<a href='#myCanvas' data-size='" + this + "' style='background: #ccc'>" + this + "</a> ");
    });
             $('#myCanvas').sketch();
          });

        </script>
        <br>
        </div>
        <!-- End canvas -->
        <div class="form-group container text-center">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Post Title">
            <br>
            <label for="comment"></label>
            <textarea class="comment-box" rows="4" cols="50" name="comment" id="comment" placeholder="Say something about this graffiti"></textarea>
            <div class="input-prepend">
                <span class="add-on">Location: </span>
                <label for="latlng"></label>
                <input class="span2" id="lat" type="number" step="0.01" name="lat" readonly>
                <input class="span2" id="lng" type="number" step="0.01" name="lng" readonly>

            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Post</button>
            <a href="/home">
                <input type="button" id="cancel_post" class="btn-add-activity btn btn-block" value="Cancel"/>
            </a>
        </div>
    </div>
</form>
<div id="map" style="height: 200px; width: auto;"> </div>



<style>
    textarea, canvas {
        width: 100%;
    }
    #map {
        margin-top: 2em;
    }
</style>

<script src="javascripts/post_graffiti.js"></script>
<script src="javascripts/new-canvas.js"> </script>
