<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/spectrum.css">
    <script src="javascripts/spectrum.js"></script>
</head>

<body>
<h1>Post Graffiti</h1>
<form id="post_graffiti_form" method="post" role="form" action="/post/submit">
    <!--TODO: look mindlee how to add new destress, follow same template-->
    <div class="container">
        <!-- Canvas -->
          <div class='tools' id="canvas-container">
            <a href="#myCanvas" data-tool="marker">Marker</a>
            <a href="#myCanvas" data-tool="eraser">Erase</a>
            <a href="#myCanvas" data-size="3"> Small </a>
            <a href="#myCanvas" data-size="10"> Medium </a>
            <a href="#myCanvas" data-size="30"> Large </a>
           <!-- <a href="#myCanvas" data-color="#ff0000"> Red </a>
            <a href="#myCanvas" data-color="#ff9966"> Orange </a>
            <a href="#myCanvas" data-color="#ffff66"> Yellow </a>
            <a href="#myCanvas" data-color="#009900"> Green </a>
            <a href="#myCanvas" data-color="#0033cc"> Blue </a>
            <a href="#myCanvas" data-color="#993399"> Purple </a>
            <a href="#myCanvas" data-color="#000000"> Black </a> -->
             <a href="#myCanvas" data-download="jpg">Download</a>
            <a href="#myCanvas" data-clear="clear">Clear</a>
            <input type="text" id="custom"/>
            <a href="#myCanvas" data-upload="jpg">Take/Select A Photo!</a>   
          </div>
        <div style="width: 0; height: 0; overflow: hidden;"> 
            <input type="file" id="PhotoPicker">
        </div>
        <!-- Leave styling in canvas. Only way it works -->
        <canvas id="myCanvas" width="800" height="500"> </canvas>
        <script type="text/javascript">
          $(function() 
          {
            $('#myCanvas').sketch();
          });
             
        </script>
        <br>
        </div>
        <!-- End canvas -->
        <div class="form-group container text-center">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Post Title">
            <br>
            <label for="description"></label>
            <textarea class="comment-box" rows="4" cols="50" name="description" id="description" placeholder="Say something about this graffiti"></textarea>
            <div class="input-prepend">
                <span class="add-on">Location: </span>
                <label for="latlng"></label>
                <input class="span2" id="lat" type="number" step="0.01" name="lat" readonly>
                <input class="span2" id="lng" type="number" step="0.01" name="lng" readonly>

            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Post">
            <a href="/home">
                <input type="button" id="cancel_post" class="btn-add-activity btn btn-block" value="Cancel"/>
            </a>
        </div>
    </div>
</form>
<div id="map" style="height: 200px; width: auto;"> </div>
</body>

<script>
$("#custom").spectrum({
    color: "#f00"
});
</script>

<script src="javascripts/post_graffiti.js"></script>
<script src="javascripts/new-canvas.js"> </script>