
<h1>Post Graffiti</h1>
<form id="post_graffiti_form" method="post" role="form" action="/post/submit">
    <!--TODO: look mindlee how to add new destress, follow same template-->
    <div class="container">
        <p style="text-align: center; font-weight: bold">Draw your graffiti below</p>

        <!-- Canvas -->
          <div class='tools'>
            <a href="#myCanvas" data-tool="marker">Marker</a>
            <a href="#myCanvas" data-tool="eraser">Clear</a>
            <a href="#myCanvas" data-size="3"> Small </a>
            <a href="#myCanvas" data-size="10"> Medium </a>
            <a href="#myCanvas" data-size="30"> Large </a>
            <a href="#myCanvas" data-color="#ff0000"> Red </a>
            <a href="#myCanvas" data-color="#ff9966"> Orange </a>
            <a href="#myCanvas" data-color="#ffff66"> Yellow </a>
            <a href="#myCanvas" data-color="#009900"> Green </a>
            <a href="#myCanvas" data-color="#0033cc"> Blue </a>
            <a href="#myCanvas" data-color="#993399"> Purple </a>    
          </div>
        <input type="file" id="PhotoPicker" >
        <canvas id="myCanvas" width="800" height="500" style="border:1px solid #000000";></canvas>
        <script type="text/javascript">
          $(function() 
          {
            $('#myCanvas').sketch();
          });
             
        </script>
        <br>
        </div>
        <!-- End canvas -->
        <div class="form-group container text-center">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Post Title">
            <br>
            <label for="comment"></label>
            <textarea class="comment-box" rows="4" cols="50" name="comment" id="comment" placeholder="Say something about this graffiti"></textarea>
            <div class="input-prepend">
                <span class="add-on">Location: </span>
                <label for="latlng"></label>
                <input class="span2" id="lat" type="number" step="0.01" name="lat" readonly>
                <input class="span2" id="lng" type="number" step="0.01" name="lng" readonly>

            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Post</button>
            <a href="/home">
                <input type="button" id="cancel_post" class="btn-add-activity btn btn-block" value="Cancel"/>
            </a>
        </div>
    </div>
</form>
<div id="map" style="height: 200px; width: auto;"> </div>


<style>
    textarea, canvas {
        width: 100%;
    }
    #map {
        margin-top: 2em;
    }
</style>

<script src="javascripts/post_graffiti.js"></script>
<script src="javascripts/new-canvas.js"> </script>
<script src="javascript/photo.js"></script>
