<h1>Your Profile Information</h1>
<div class="container jumbotron">
    <ul>
        <li>Name: CHARNAME</li>
        <ul>
            <h3>Post History</h3>
            <li>
                <p>Post 1</p>
                <img src="https://i.imgur.com/QjurNdW.jpg" alt="">
            </li>
            <li>
                <p>Etc...</p>
            </li>
        </ul>
    </ul>
</div>
