body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    width: 100vw;
}

.custom, .popup-inner {
    background: rgb(251, 206, 67);
    align-content: center;
    align-items: center;
    text-align: center;
}


.btn-vote {
    margin: 20px;
}

.leaflet-popup-content-wrapper {
}

.modal-footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fbce43;
}

.modal-header{
    background-color: #fbce43;
}
.modal-title {
    text-align: center;
    font-size: 2em;
    background-color: #fbce43;
}

.bootbox-body {
    text-align: center;
}