body {
/*  padding: 3.5em;*/
  padding-top: 3.1em;
  font: 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
}

a {
  color: #014656;
}

h1 {
  font-style: normal;
  font-size: 2.5em;
  font-weight: normal;

}
/** For login **/


#post-container{
  margin-left: auto;
  margin-right: auto;

}
/** For main map in map.hbs */
#mainHeading{
  font-family: 'Leckerli One', cursive;

}

#map {
  margin-top: 50px;
  /*height: 200px;*/
  /*width: 200px;*/
    z-index: 0;     /* needed for bootbox to work correctly */
}
/** For home.hbs */

/*.post{
  width: 95%;
}*/
.strong{
  font-weight: bold;
}

.row {
  background-color: rgba(255, 255, 255, 0.4);
  /*outline: 3px solid darkgray;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

.graffiti {
  margin: auto;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  border: 2px solid #000000;
  flex: 3;
}

.post-content {
  display: -webkit-flex;
  display: flex;
  border: 1px solid #D3D3D3
}


.post_header {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  margin-bottom: 0.5em;
}
.post_left {
  position: relative;
  flex: 3;
  align-content: center;
  align-self: center;
  vertical-align: middle;
}
.post_right {
  position: relative;
  flex: 1;
  align-content: center;
  align-items: center;
  text-align: right;
}

#post-btn {
  background-color: #346EA2;
  border-color: #346EA2;
}

.map {
  z-index: 1;
}

/** For the nav bar **/
#nav-custom {
  background-color: #fbce43;
  border-color: #fbce43;
}

/* Custom styling for nav collapse */
#nav-button-custom {
  border-color: #fbce43;
  background-color: #fbce43;
}

#nav-button-custom span{
  background-color: #f9f7f6;
}
/* Custom text color for brand */
#brand-custom{
  color: white;
  padding-top: 5px;
}

/* Custom color for nav links */
.nav.navbar-nav.navbar-right li a {
    color: white;
}

/* Styling for the form input on post */
#form-container {
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.span2 {
  visibility: hidden;

}


/**
    CSS elements for post.hbs
 */

#post_graffiti_form {
  align-content: center;
}

#form-submit {
  text-align: center;
}

/** end form styling **/

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: rgba(176, 176, 176, 0.41);
  color: #060606;
}
img.popup {
  max-width: 200px;
  max-height: 100%;
}
.square {
  height: 75px;
  width: 75px;
}

/** Styling for the canvas **/
#canvas-container {
  display: block;
  position: relative;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

#myCanvas{
  border: 1px;
  border-style: solid;
  border-color:#D3D3D3;
}

#slider { 
  width: 30px; 
  height: 200px;
}
#slider-container {
  max-width: 30px;
  float: right;
}

#box {
    width:30px;
    height:30px;
    border: 1px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: black;
    background-color: #ff0000;
    display: inline-block;
}
/** End Canvas Styling */
#home-post-btn {
  text-align: center;

}

#commentBtn {
  margin-right: 10px;
}

/** Styling for the Tools */
.tools {
  padding-bottom: 10px;
}

#tool-size {
  padding-top: 10px;
}

#clear-btn {
  background-color: #d80000;
  border-color:  #d80000;
}

/** end styling for tools */

/* Styling for the comments */
#modal-cmt-add {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font: 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 70%;
}

#modal-btn-add {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin: 10px;
}
#modal-btn-close {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin: 10px;
}

#user-sign-up {
  width: 70%;
}

.modal-dialogue {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}

.modal-header {
  background-color: #fbce43;
  border-color: #fbce43;
  font: 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.icn-comments {
  height: 100px;
  width: 100px;
}


#postHeading{
  font-family: 'Leckerli One', cursive;
}

.post_form_info {
  align-content: center;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-device-width:481px){
    .container-fluid{
      width:85%;
    }
    .row{
      margin-left: 12.5%;
    }
}

/**
  Flexbox for post
  Change desktop view of home page to row view
 */
.post > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}

@media screen and (min-width: 850px) {
  body {
    align-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: column;
  }
  .post_list {
    padding: 0;
    margin-left: 0%;
    list-style: none;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .post {
    padding: 5px;
    /*margin: 10px;*/
    /*-webkit-flex-wrap: wrap;*/
    /*flex-wrap: wrap;*/
    /*-webkit-flex-direction: row;*/
    /*flex-direction: row;*/

    text-align: center;
    width: 20%;
    flex-grow: 1;
  }
}
.post:after {
  /*outline: 3px solid darkgray;*/
  content: "\a0";
  display: block;
  padding: 2px 0;
  line-height: 1px;
  /*border-top: 1px dashed #000000;*/
}

.user {
  font-size: small;
  text-align: right;
}

.modal-backdrop.fade.in {
    z-index: 0;
}