body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/** For main map in map.hbs */
#map {
  height: 100%;
}
/** For maps in home.hbs */
.map {
  z-index: 1;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: rgba(176, 176, 176, 0.41);
  color: #060606;
}
img.popup {
  max-width: 200px;
  max-height: 100%;
}
.square {
  height: 75px;
  width: 75px;
}

.row {
  border: solid 3px #585858;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.4);
  align-items:center;
  margin: 2em;
  padding: 1em
}

.graffiti {
  width: 100%;
  border: 3px solid #000000;
  flex: 3;
}

.post-content {
  display: -webkit-flex;
  display: flex;
}

.icn-comments {
    height: 100px;
    width: 100px;
}

.post_header {
  display: flex;
  flex-direction: row;
    margin-bottom: 1em;
}
.post_left {
  flex: 3;
}
.post_right {
  flex: 1;
}